build/*
bin/*
.env.cmake
.vscode
.vs

shaders/**/*.spv

assets/models/*
!assets/models/primitives

assets/textures/*
!assets/textures/empty.*

config/*
!config/default_config.json

external/*
!external/tinygltf
!external/tinyobjloader
!external/imgui
!external/mikktspace
!external/rapidjson