build/*
.env.cmake
.vscode

shaders/*.spv

assets/models/*
!assets/models/placeholder.txt
!assets/models/primitives

assets/textures/*
!assets/textures/placeholder.txt
!assets/textures/empty.ktx

external/*
!external/tinygltf
!external/tinyobjloader
!external/imgui